<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948857622296-j32kb6pgeapsmp46ejc6fl3s1lm9hn44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948857622296-j32kb6pgeapsmp46ejc6fl3s1lm9hn44</string>
	<key>API_KEY</key>
	<string>AIzaSyDgEAxNYkYE1gTKa3-8viOA0hOkKc_-FJI</string>
	<key>GCM_SENDER_ID</key>
	<string>948857622296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanmonsua.tasksrn</string>
	<key>PROJECT_ID</key>
	<string>tasks-rn</string>
	<key>STORAGE_BUCKET</key>
	<string>tasks-rn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948857622296:ios:aa58d2cc53c485438a586d</string>
	<key>DATABASE_URL</key>
	<string>https://tasks-rn.firebaseio.com</string>
</dict>
</plist>